[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
pyyaml = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
torchvision = "*"
opencv-python = "*"
pillow-simd = "*"
tqdm = "*"

[requires]
python_version = "3.6"

[dev-packages]
gym = {extras = ["atari", "mujoco", "retro"]}
jupyter = "*"
matplotlib = "*"
pymongo = "*"
visdom = "*"
