[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
attrs = "*"
gym = {extras = ["all"]}
matplotlib = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
pillow-simd = "*"
pymongo = "*"
pyyaml = "*"
scikit-learn = "*"
torch = "==0.4.1"
torchvision = "*"
tqdm = "*"
visdom = "*"
dnspython = "*"
box2d = "*"
cloudpickle = "*"
torchtext = "*"
spacy = "*"

[requires]
python_version = "3.6"

[dev-packages]
nose = "*"
twine = "*"
